@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;400&family=League+Spartan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
:root {
  --Mercury: #419ebb;
  --Jupiter: #6d2ed5;
  --Mars: #d14c32;
  --Neptune: #2d68f0;
  --Earth: #545bfe;
  --Saturn: #cd5120;
  --Uranus: #1ec1a2;
  --Venus: #eda249;
  --BodyBg: #070724;
}
body {
  color: white;
  font-family: "League Spartan";
  background-image: url("/public/assets/background-stars.svg");
  background-color: #070724;
}
.nav-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff33;
}
.the-planets {
  font-family: "Antonio";
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 100%;
}
.planet-page-container {
  display: flex;
}
.source {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 25px;
  z-index: -1;
  color: #ffffff80;
}
.buttons {
  display: flex;
}
.planet-name {
  font-family: "Antonio";
  text-transform: uppercase;
}
.planet-text {
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
}

.surface-img {
  width: 25%;
  position: absolute;
  top: 255px;
  left: 143px;
  background: none;
}
.stat-container {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.stat-box {
  border: 1px solid #ffffff33;
}
.stat-title {
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff80;
}
.stat-data {
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: "Antonio";
}
@media screen and (max-width: 700px) {
  body {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    z-index: -1;
  }
  header {
    height: 68px;
    padding: 0 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .the-planets {
    color: #ffffff80;
    margin-bottom: 7px;
    padding-top: 5px;
  }
  .nav-planets {
    display: none;
  }
  .img {
    margin: 0 auto;
    display: flex;
    width: 45%;
    margin-top: 55px;
  }
  .surface-img {
    width: 25%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .planet-name,
  .planet-text {
    margin-top: 50px;
    text-align: center;
  }
  .planet-name {
    font-size: 40px;
  }
  .source {
    margin-top: -15px;
    text-align: center;
    justify-content: center;
  }
  .button-container {
    width: 100%;
  }
  .buttons {
    display: none;
  }
  .mobile-buttons {
    display: flex;
  }
  .mobile-button-container {
    z-index: 1;
    border-bottom: 1px solid #ffffff33;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 28px;
    text-transform: uppercase;
    padding-left: 39px;
  }
  .emb:hover {
    text-decoration: underline var(--Uranus);
    cursor: pointer;
  }

  .emb {
    padding-right: 39px;
  }
  footer {
    /* padding: 0px 25px; */
    z-index: -2;
  }
  .planet-page-container {
    display: flex;
    flex-direction: column;
  }
  .stat-container {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  .stat-box {
    margin-bottom: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 15px 25px;
  }
  .stat-title {
    font-size: 8px;
    line-height: 16px;
  }
  .stat-data {
    font-size: 20px;
    margin-left: auto;
  }

  .ham-links {
    display: none;
  }
  .ham-links.active {
    display: flex;
    top: 100px;
    width: 100%;
    background-color: #070724;
    flex-direction: column;
    left: -1000px;
    z-index: 2;
    padding: 45px 25px;
    font-size: 15px;
    flex-direction: column;
  }
  .ham-link {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff1a;
  }
  .ham-link::before {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
  }
  .ham-link:nth-child(1)::before {
    background-color: var(--Mercury);
  }
  .ham-link:nth-child(2)::before {
    background-color: var(--Venus);
  }
  .ham-link:nth-child(3)::before {
    background-color: var(--Earth);
  }
  .ham-link:nth-child(4)::before {
    background-color: var(--Mars);
  }
  .ham-link:nth-child(5)::before {
    background-color: var(--Jupiter);
  }
  .ham-link:nth-child(6)::before {
    background-color: var(--Saturn);
  }
  .ham-link:nth-child(7)::before {
    background-color: var(--Uranus);
  }
  .ham-link:nth-child(8)::before {
    background-color: var(--Neptune);
  }
  .ham-head {
    margin-left: auto;
  }
  .ham-head.active {
    opacity: 0.2;
  }
  .ham-icon {
    position: absolute;
    left: 337px;
    width: 10%;
    left: 325px;
    bottom: 34px;
    color: #ffffff33;
  }
}
@media screen and (min-width: 700px) and (max-width: 1200px) {
  header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ffffff33;
  }

  .the-planets-and-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .surface-img {
    width: 14%;
    position: absolute;
    top: 22rem;
    left: 22rem;
    background: none;
  }
  .img-container {
    margin-top: 150px;
    justify-content: center;
    display: flex;
    padding-bottom: 20rem;
  }
  .img {
    position: absolute;
    width: 20%;
  }
  .planet-page-container {
    flex-direction: column;
  }
  .planet-name-text-and-source {
    width: 63%;
    flex: 1 1;
    padding-left: 70px;
    padding-right: 270px;
  }

  .button-and-text {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px;
  }
  .ham-links {
    display: none;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .nav-container {
    display: flex;
    align-items: center;
  }

  .the-planets {
    font-family: "Antonio";
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 100%;
    color: #ffffff80;
  }
  .planet-page-container {
    display: flex;
  }
  .stat-box {
    display: flex;
    flex-direction: column;
  }
  .stat-container {
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
  }
  .stat-box {
    margin-bottom: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 15px 25px;
  }
  .stat-title {
    font-size: 8px;
    line-height: 16px;
    padding-bottom: 3px;
  }
  .stat-data {
    font-size: 20px;
    margin-left: auto;
  }
  .nav-planets {
    display: initial;
  }
  .nav-planets > a:hover {
    text-decoration: underline aqua;
    color: white;
  }

  .mobile-buttons {
    display: none;
  }
  .ham-icon {
    display: none;
  }
  .button-container {
    position: absolute;
  }
  .buttons {
    display: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px lightslategray;
  }
  button:hover {
    background-color: #35aae0;
  }
  button > span {
    color: lightslategray;
    background: none;
  }
  button {
    background: none;
    color: white;
    text-transform: uppercase;
    font-family: "League Spartan";
    padding: 10px;
  }

  .nav-planets > a {
    text-transform: uppercase;
    color: #ffffffcf;
    padding: 11px;
  }
  .nav-container {
    padding-bottom: 20px;
  }
  footer {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ffffff33;
  }
  .the-planets {
    padding-left: 10px;
    padding-top: 20px;
  }
  .nav-planets {
    padding-left: 9rem;
    display: block;
    font-size: 24px;
  }
  .the-planets-and-nav {
    display: flex;
    flex-direction: column;
  }
  .surface-img {
    width: 35%;
    position: absolute;
    top: 22rem;
    left: 22rem;
    background: none;
  }
  .img-container {
    position: absolute;
    padding: 77px;
    padding-left: 243px;
  }
  .img {
    width: 102%;
    position: absolute;
  }
  .img-btn-info {
    padding-top: 200px;
    position: relative;
    padding-right: 129px;
  }
  .planet-page-container {
    flex-direction: column;
  }
  .planet-name-text-and-source {
    width: 100%;
    padding-right: 4rem;
  }

  .button-and-text {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-direction: column-reverse;
    padding-left: 641px;
  }

  .ham-links {
    display: none;
  }
  .ham-icon {
    display: none;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .nav-container {
    display: flex;
    align-items: center;
  }

  .the-planets {
    font-family: "Antonio";
    align-items: center;
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 100%;
    color: #ffffff80;
  }
  .planet-page-container {
    display: flex;
  }
  .nav-planets {
    display: initial;
  }
  .nav-planets > a:hover {
    text-decoration: underline aqua;
    color: white;
  }
  .nav-planets > a {
    padding: 25px;
    color: #ffffffcf;
    text-decoration: none;
  }
  .nav-container {
    padding-bottom: 20px;
  }

  .mobile-buttons {
    display: none;
  }

  .buttons {
    display: initial;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px lightslategray;
  }
  button:hover {
    background-color: #35aae0;
  }
  button > span {
    color: lightslategray;
    background: none;
  }
  button {
    background: none;
    color: white;
    text-transform: uppercase;
    font-family: "League Spartan";
    padding: 10px;
  }

  footer {
    margin-bottom: 5px;
    padding-top: 170px;
  }
  .stat-box {
    display: flex;
    flex-direction: column;
  }
  .stat-container {
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
  }
  .stat-box {
    margin-bottom: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 15px 25px;
  }
  .stat-title {
    font-size: 8px;
    line-height: 16px;
    padding-bottom: 3px;
  }
  .stat-data {
    font-size: 20px;
    margin-left: auto;
  }
  .source {
    padding-bottom: 38px;
  }
}
